Facturar/Facturar/bin
Facturar/Facturar/obj
Facturar/Test/bin
Facturar/Test/obj
Logistica/Logistica/bin
Logistica/Logistica/obj
Logistica/Test/bin
Logistica/Test/obj
Pago/Pago/bin
Pago/Pago/obj
Pago/Test/bin
Pago/Test/obj