USE [master]
GO
/****** Object:  Database [TuyaApp]    Script Date: 6/05/2021 10:28:48 a. m. ******/
CREATE DATABASE [TuyaApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TuyaApp', FILENAME = N'C:\Users\Freddy Rangel\TuyaApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TuyaApp_log', FILENAME = N'C:\Users\Freddy Rangel\TuyaApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuyaApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuyaApp]
GO
USE [TuyaApp]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 6/05/2021 10:28:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Facturado] [bit] NULL,
	[ValorTotal] [numeric](18, 0) NULL,
	[Productos] [varchar](200) NULL
) ON [PRIMARY]
GO
USE [master]
GO
